@import "bootstrap-sprockets";
@import "bootstrap";

.nav_wrap{
  background-color: #eee;
}
.media{
  position: relative;
  .media-heading{
    font-size: 0.9em;
  }
  .ranking{
    position: absolute;
    padding: 2px 4px;
    background-color: #333;
    color: #fff;
  }
}
.price{
  th, td{
    padding: 2px;
    font-size: 0.85em;
    font-weight: normal;
    text-align: center;
    border: 1px solid #ccc;
  }
  .default_profit_price{
    color: red;
  }
}
.media-heading{
  font-size: 1em;
}
footer{
  height: 100px;
  background-color: #999;
}
